<div class="main">
    <div class="cc">
        <h3 class="card-title" style="color:azure; text-align: justify;">Our Experiance</h3><br>
        <p class="card-text">Add magic to your vacation with Blend Hotels and Resorts, take the opportunity to explore our services and facilities to evaluate your vacation with
            the highest quality of food and beverage, cozy relaxing rooms, and a fantastic time at our beaches, we guarantee you a vacation to remember.</p>
        <p class="card-text"><small class="text-muted">Last updated 4 mins ago</small></p>
    </div>

    <div class="dd">
        <div class="part1">
            <div class="imgsection" style="background-image: url(assets/img/joshua-stannard.jpg); background-position: center; background-size: cover;"></div>

            <div class="content">
                <h5 class="card-title">Spa</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>

        <div class="part2">
            <div class="imgsection" style="background-image: url('assets/img/02.jpg'); background-position: center; background-size: cover;"></div>

            <div class="content">
                <h5 class="card-title">Well-Being</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>

        </div>
        <div class="part1">
            <div class="imgsection" style="background-image: url(assets/img/joshua-stannard.jpg); background-position: center; background-size: cover;"></div>

            <div class="content">
                <h5 class="card-title">Dining</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>

        <div class="part2">
            <div class="imgsection" style="background-image: url('assets/img/02.jpg'); background-position: center; background-size: cover;"></div>

            <div class="content">
                <h5 class="card-title">Couples</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>

        </div>

        <div class="part1">
            <div class="imgsection" style="background-image: url(assets/img/joshua-stannard.jpg); background-position: center; background-size: cover;"></div>

            <div class="content">
                <h5 class="card-title">Green Apprach</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>

    </div>

</div>






<!-- <div class="card-group">
    <div class="  static-section">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 4 mins ago</small></p>
        </div>
    </div>


</div>


<div class="xx">
    dcredrdr
</div> -->



<!-- 
<div class="main">
    <div class=" text-center">
        <div class="fluid-container">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card" style="height: 100%; background-color: chocolate;">
                        <img src="assets/img/landingpage-4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card">
                        <img src="assets/img/landingpage-4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div> -->