<div class="section " style="overflow: hidden;">
    <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="slogan">
            <img data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="" src="assets/img/slogan-06.png" alt="">
        </div>
        <div class="container">
            <div class="row ">
                <div data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-sine" class="col-md-6 text-center pb-5 " routerLinkActive="active">
                    <h5>Our aim is To offer our guests a unique blend of carefully chosen elements for an unforgettable stay in our resorts; blending beautiful scenery with
                        marvelous, modern, contemporary architectural design.</h5><br>

                </div>

                <div data-aos="fade-left" data-aos-offset="400" data-aos-easing="ease-in-sine" class="col-md-6 text-center pb-5 " routerLinkActive="active">
                    <h5>

                        Combined with a mouth-watering blend of cuisines from around the world catered for in a cozy atmosphere by the most trained hands of our unique staff in a
                        beautiful harmony that allures our guests to blend into the enchanting surroundings, culture, and environment in a dream-like experience. </h5><br>

                </div>
            </div>
        </div>
    </div>



    <div class="section section-color" style="background-image: url('assets/img/02.jpg'); background-position: center; background-size: cover;">
        <div class="container">
            <div class="row ">
                <div data-aos="fade-up" data-aos-offset="350" data-aos-easing="ease-in-sine" class="col-md-12 unique text-center" routerLinkActive="active">


                    <img src="./assets/img/unique-letter-01.png" alt="Rounded Image" style="width: 40%">

                </div>


            </div>
        </div>
    </div>

    <div class="true">
        <h5 class="card-title line type">A beautiful way </h5>
        <h5 class="card-text type">to relax</h5>
    </div>


    <div class="row row-cols-1 row-cols-md-1 g-4">
        <div class="col">
            <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" class="">
                <img src="assets/img/golden 5/Panorama 14.jpg" class="Distination_img" alt="...">
                <a [routerLink]="['/destination']">
                    <div class="card-body CardStyle">
                        <h5 class="card-title line">Destinations</h5>
                        <p class="card-text">A new dimension of relaxation.</p>
                    </div>
                </a>
            </div>
        </div>
    </div><br>



    <div class="fluid-container">
        <div class="row">
            <div class="col-sm-5 col-md-6">
                <div data-aos="fade-up" data-aos-offset="400" data-aos-easing="ease-in-sine" style="width: 110%;" class="">
                    <img src="assets/img/landingpage-4.jpg" class="Distination_img" alt="...">
                    <a [routerLink]="['/experiance']">
                        <div class="card-body CardStyle">

                            <h5 class="card-title line">Experiance</h5>
                            <p class="card-text">The contemporary vacation experience.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-5 col-md-6">
                <div data-aos="fade-up" data-aos-offset="400" data-aos-easing="ease-in-sine" style="width: 110%; margin-left: -2%;" class="">
                    <img src="assets/img/Proposal 02.jpg" class="Distination_img" alt="...">
                    <a [routerLink]="['/aboutus']">
                        <div class="card-body CardStyle">
                            <h5 class="card-title line">Our Resorts</h5>
                            <p class="card-text">Experience the lifestyle.

                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-6">
                <div data-aos="fade-up" data-aos-offset="400" data-aos-easing="ease-in-sine" style="width: 110%;" class="">
                    <img src="assets/img/joshua-stannard.jpg" class="Distination_img" alt="...">
                    <a [routerLink]="['/offers']">
                        <div class="card-body CardStyle">
                            <h5 class="card-title line">Special Offers</h5>
                            <p class="card-text">Your perfect vacation is just a click away.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-5 col-md-6">
                <div data-aos="fade-up" data-aos-offset="400" data-aos-easing="ease-in-sine" style="width: 110%; margin-left: -2%;" class="">
                    <img src="assets/img/hotel-room-5.jpg" class="Distination_img" alt="...">
                    <a [routerLink]="['/media']">
                        <div class="card-body CardStyle">
                            <h5 class="card-title line">Media</h5>
                            <p class="card-text">Explore Blend.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>







</div>



<div class="mapouter">
    <div class="gmap_canvas"><iframe width="100%" height="450" id="gmap_canvas"
            src="https://maps.google.com/maps?q=30.113069534301758,31.349014282226562&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0"></iframe><a href="https://123movies-a.com"></a><br>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 450px;
                width: 100%;
            }
        </style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>

    </div>
</div>