<div class="main">
    <div class="cc">
        <h3 class="card-title" style="color:azure;">Our Offers</h3><br>
        <p class="card-text">We’ve got everything you need to keep you feeling good, whether you want to work out, wind down or simply want some help weighing up what to do with
            your time on the Amalfi Coast. Casa Angelina guests have access to state-of-the-art facilities and services, from a well-equipped wellness center to our indoor and
            outdoor swimming pools to the barefoot-luxe La. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit
            longer.This is a wider card
            with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 4 mins ago</small></p>
    </div>

    <div class="dd">
        <div class="part1">
            <div class="imgsection" style="background-image: url(assets/img/joshua-stannard.jpg); background-position: center; background-size: cover;"></div>

            <div class="content">
                <h5 class="card-title">Suite Sensation</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>

        <div class="part2">
            <div class="imgsection" style="background-image: url('assets/img/02.jpg'); background-position: center; background-size: cover;"></div>

            <div class="content">
                <h5 class="card-title">Couples Retreat</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>

        </div>
        <div class="part1">
            <div class="imgsection" style="background-image: url(assets/img/joshua-stannard.jpg); background-position: center; background-size: cover;"></div>

            <div class="content">
                <h5 class="card-title">Newly Weds</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>

        <div class="part2">
            <div class="imgsection" style="background-image: url('assets/img/02.jpg'); background-position: center; background-size: cover;"></div>

            <div class="content">
                <h5 class="card-title">Family Blend</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>

        </div>

    </div>
</div>