*{
    margin: 0;
    padding: 0;
}
.vv{
    width: 30%;
    height: 100%;
    background-color: #BCBEC0;
}
.vv h1{
    position: absolute;
    top: 60%;
    left: 10%;
}
.slogan
{
    width: 100%;
    height: 20%;
    margin-bottom: 1%;
}
.slogan img{
    width: 40%;
    height: 10%;
    margin-left: 30%;
}
.slogan h1{
    margin-top: 5%;
    text-align: center;
    text-decoration: underline;
    /* margin-left: 30%; */
}

