<div class="container-fluid" style="  margin-top: -2%;">
    <div style="height:800px; color:white ; background-image: url('assets/img/landingpage-4.jpg'); background-position: center; background-size: cover;">
        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="vv">

            <h1 data-aos="fade-right" data-aos-offset="500" data-aos-easing="ease-in-sine">Hurghada Gallary</h1>

        </div>
    </div>

</div>
<div style="height: 500px;">
    <div class="slogan">
        <h1>All Media</h1>
        <!-- <img data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" class="" src="assets/img/slogan-06.png" alt=""> -->
    </div>


    <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
            <ngb-tabset [justify]="'center'">
                <ngb-tab title="Photos">
                    <ng-template ngbTabContent>

                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/uriel-soberanes.jpg" style="height: 100%;" class=" zz img-rounded img-responsive" alt="Rounded Image">

                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/landingpage-4.jpg" style="height: 100%;" class=" zz img-rounded img-responsive" alt="Rounded Image">

                                </div>

                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/Proposal 02.jpg" style="height: 100%;" class=" zz img-rounded img-responsive" alt="Rounded Image">

                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/joshua-stannard.jpg" style="height: 100%;" class="zz img-rounded img-responsive" alt="Rounded Image">

                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/uriel-soberanes.jpg" style="height: 100%;" class=" zz img-rounded img-responsive" alt="Rounded Image">

                                </div>

                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Videos">
                    <ng-template ngbTabContent>
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/uriel-soberanes.jpg" class=" zz img-rounded img-responsive" alt="Rounded Image">

                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/landingpage-4.jpg" style="height: 100%;" class="zz img-rounded img-responsive" alt="Rounded Image">

                                </div>

                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/Proposal 02.jpg" style="height: 100%;" class="zz img-rounded img-responsive" alt="Rounded Image">

                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/uriel-soberanes.jpg" style="height: 100%;" class=" zz img-rounded img-responsive" alt="Rounded Image">

                                </div>


                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="News&Events">
                    <ng-template ngbTabContent>
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/Proposal 02.jpg" style="height: 100%;" class=" zz img-rounded img-responsive" alt="Rounded Image">

                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/joshua-stannard.jpg" style="height: 100%;" class="zz img-rounded img-responsive" alt="Rounded Image">

                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/uriel-soberanes.jpg" style="height: 100%;" class=" zz img-rounded img-responsive" alt="Rounded Image">

                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/landingpage-4.jpg" style="height: 100%;" class=" zz img-rounded img-responsive" alt="Rounded Image">

                                </div>

                                <div class="col-xs-8 col-sm-6 col-md-4" style="overflow: hidden;">

                                    <img src="assets/img/Proposal 02.jpg" style="height: 100%;" class=" zz img-rounded img-responsive" alt="Rounded Image">

                                </div>



                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
<br><br><br><br>