<footer class="footer" style="overflow: hidden;">

    <div>
        <div class="fliud-container">
            <div class="row">
                <!-- <img src="assets/img/WhatsApp Image 2021-12-02 at 4.52.38 PM.jpeg" style="width: 100%; height: 90%;" alt=""> -->
                <nav class="footer-nav">
                    <ul>
                        <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                        <li><a href="http://blog.creative-tim.com">Blog</a></li>
                        <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                    </ul>
                </nav>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © {{test | date: 'yyyy'}}, made with by Blend
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>